# General
*.*~

# Client
client/web/build/
client/web/dist/
client/web/node_modules/
client/web/.rpt2_cache/

# plugins
plugins/names_db/target/debug/
plugins/names_db/target/.rustc_info.json
plugins/names_db/target/release/